<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script src="{{ asset('vendor/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('vendor/angular/angular.js') }}"></script>
    <script src="{{ asset('vendor/angular-route/angular-route.js') }}"></script>

    <script src="{{ asset('vendor/angular-resource/angular-resource.js') }}"></script>
    <script src="{{ asset('vendor/angular-touch/angular-touch.js') }}"></script>
    <script src="{{ asset('vendor/angular-translate/angular-translate.js') }}"></script>
    <script src="{{ asset('vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js') }}"></script>

    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('resources/styles/main.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ asset('vendor/angular-animate/angular-animate.js') }}"></script>
    <script src="{{ asset('vendor/angular-strap/dist/angular-strap.js') }}"></script>
    <script src="{{ asset('vendor/angular-strap/dist/angular-strap.tpl.js') }}"></script>
    <script src="{{ asset('vendor/angular-ui-router/release/angular-ui-router.js') }}"></script>
    <script src="{{ asset('vendor/angular-jwt/dist/angular-jwt.js') }}"></script>
    <script src="{{ asset('vendor/a0-angular-storage/dist/angular-storage.js') }}"></script>

    <link rel='stylesheet' href="{{ asset('vendor/textAngular/dist/textAngular.css') }}">
    <script src="{{ asset('vendor/textAngular/dist/textAngular-rangy.min.js') }}"></script>
    <script src='{{ asset('vendor/textAngular/dist/textAngular-sanitize.min.js') }}'></script>
    <script src='{{ asset('vendor/textAngular/dist/textAngular.min.js') }}'></script>
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />

    <script src="{{ asset('components/app.js') }}"></script>
    <script src="{{ asset('components/services/restService.js') }}"></script>
    <script src="{{ asset('components/services/printService.js') }}"></script>
    <script src="{{ asset('components/dist/ctrl.js') }}"></script>


    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar">

<nav class="navbar navbar-default">
    <div class="container-fluid">

            <ul class="nav navbar-nav navbar-left">
                <img alt="Titel" src="resources/images/logo.svg" width="100"/>
            </ul>



    <div class="col-sm-offset-5 col-sm-2 text-center">
        <form class="navbar-form navbar-center" role="search" ng-hide="hide_user_ui">
             <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Search" ng-model="query">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
             </div>
        </form>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li  ng-hide="$rootScope.logged_in"><a href="#login"><button type="button" class="btn btn-link">Login</button></a></li>
            <li ng-show="$rootScope.logged_in"><button type="button" class="btn btn-default" ng-click="$rootScope.logout()">Logout</button></li></ul>
    </div>
</div>
</nav>


<div style="margin-bottom: 200px;" ui-view=""></div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row text-center">
        <hr class="top-buffer">
        <a ui-sref="legalnotice"><button translate type="button" class="btn btn-link">LEGAL_NOTICE</button></a>
        <a ui-sref="contact"><button translate type="button" class="btn btn-link">CONTACT</button></a>
    </div>
</nav>

</body>
</html>
